// Specific CSS for your home-page
// .page-content {
//   max-width: 1180px;
//   margin: auto;
//   background-color: $dark-blue;
// }

#welcome-comment {
  font-size: 16px;
  margin: 115px;
}

.welcome-info h1 {
  max-width: 700px;
  margin: 115px;
  font-size: 120px;
}

.social-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

#view-projects-btn {
  margin-left: 40px;
}

.social-banner-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-right: 40px;
}

.stack-list {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 60px;
}

.stack-list-item {
  list-style: none;
}

.stack-container {
  margin: 115px;
}

// .personal-info-container {
//   display: flex;
//   justify-content: space-evenly;
//   margin: 115px auto;
//   border: solid rgba(255, 255, 255, 0.058) 1px;
//   border-radius: 56px;
//   background-color: $dark-blue;
//   padding: 20px;
//   max-width: 900px;
// }

#intro-title {
  font-size: 60px;
  margin-left: 115px;
}


#profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
}

#personal-info {
  margin: 115px 0 115px 115px;
  font-size: 30px;
  max-width: 600px;
}

.personal-info-container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.personal-introduction {
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
}

.personal-introduction img {
  margin-right: 115px;
}

.profile-text-vertical {
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: right;
  align-items: end;
  line-height: .4;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.profile-text-vertical p {
  text-align: center;
  margin: 16px;
}

.profile-block p {
  padding: 16px;
  text-align: center;
  width: 300px;
}

.contact-me {
  margin: 0 0 115px 115px;
}
