// Specific CSS for your home-page
a {
  list-style: none;
}
#galaxy-pic {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 400px;
}

#smoke-pic {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 400px;
}

#welcome-comment {
  font-size: 16px;
  margin: 67px;
  background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-info h1 {
  max-width: 700px;
  margin: 115px 0 115px 150px;
  font-size: 110px;
  color: transparent;
  background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
  -webkit-background-clip: text;
  animation: animate 5s linear infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
}

@keyframes animate{
  0%{
    background-position:  0 100%;
  }
  50%{
    background-position: 100% 0;
  }
  100%{
    background-position:  0 100%;
  }
}

.social-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#view-projects-btn {
  margin-left: 67px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-banner-icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 67px;
  font-size: 40px;
}

.stack-list {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 60px auto;
}

.stack-list-item {
  list-style: none;
}

.stack-container {
  margin: 115px;
}

#stack-title {
  background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro-title {
  font-size: 60px;
  margin-left: 115px;
  background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
}

#personal-info {
  margin: 115px 0 115px 115px;
  font-size: 30px;
  max-width: 600px;
}

.personal-info-container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.personal-introduction {
  display: flex;
  justify-content: space-evenly;
}

.personal-introduction img {
  margin-right: 115px;
}

.profile-text-vertical {
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: right;
  align-items: end;
  line-height: .4;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.profile-text-vertical p {
  text-align: center;
  margin: 16px;
}

.profile-block p {
  padding: 16px;
  text-align: center;
  width: 300px;
}

#contact-title {
  background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-me {
  margin: 0 0 115px 115px;
}

.contact-me p {
  margin-top: 115px;
  margin-left: 50px;
}
