// Specific CSS for your home-page
.page-content {
  max-width: 1180px;
  margin: auto;
}

#welcome-comment {
  font-size: 10px;
  margin: 50px;
}

.welcome-info {
  max-width: 400px;
  margin-left: 30px;
  font-size: 40px;
}
