<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/roryjjackson" target="_blank"><i class="fab fa-github"></i></a>
    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
    <a href="mailto: roryjamesjackson@outlook.com"><i class="fa-regular fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/roryjjackson/" ><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>© RoryJamesJackson</p>
  </div>
</div>
