<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="navbar-name">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%# <h1>Home</h1> %>
        <%# <%= image_tag "https://res.cloudinary.com/dfipoufmj/image/upload/v1668607022/rjjacknobackground_ykd6aa.svg", id: "rjjack" %>
      <%# <% end %>
    <%# </div> %>
<%# </div> %>
<div class="navbar">
  <ul class="navbar-list">
    <li class="navbar-list-item"><%= link_to "Home", '#roof', class: "tag" %></li>
    <li class="navbar-list-item"><%= link_to "Contact", '#floor', class: "tag" %></li>
  </ul>
</div>
