<div class="navbar">
  <ul class="navbar-list">
    <li class="navbar-list-item"><%= link_to "Home", '#roof', class: "tag" %></li>
    <li class="navbar-list-item"><%= link_to "Contact", '#floor', class: "tag" %></li>
  </ul>
</div>
