<div class="page-content">
  <div class="welcome-info">
    <h1>I'm Rory, I create things</h1>
  </div>
  <p id="welcome-comment">Hi there!👋🏼 Welcome to a digital display of me and my work, go on, have an explore... </p>
  <div class="projects-container">
    <div class="card-project">
      <p class="project-tech-stack">Rails, Javascript, Html:5, CSS</p>
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015814/DSC02500_wn01f3.jpg" alt="">
      <div class="card-project-info">
        <h4>Zoe and Cameron's Wedding</h4>
        <p>Simple functional app</p>
        <h5>Visit the site</h5>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <div class="card-project">
      <p class="project-tech-stack">Rails, Javascript, Html:5, CSS</p>
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1667986957/pexels-james-frid-2227960_uc1wvi.jpg" alt="">
      <div class="card-project-info">
        <h4>Blog template app</h4>
        <p>Self-learning project</p>
        <h5>Visit the site</h5>
      </div>
    </div>
  </div>
  <h3>Stack</h3>
    <ul>
      <li>Ruby</li>
      <li>Rails</li>
      <li>Javascript</li>
      <li>HTML:5</li>
      <li>CSS</li>
      <li>SQL</li>
      <li>Heroku</li>
    </ul>
  <p>So I'm Rory, a freelance web designer and software developer. I'm currently working alongside startups to help them create an online identity, backed up by a functional and usable site that showcases the best of their business.</p>
  <h3>Contact Me</h3>
  <ul>
    <li>Github</li>
    <li>LinkedIn</li>
    <li>Twitter</li>
    <li>Instagram</li>
  </ul>
</div>
