<a id="roof"></a>
<div class="page-content">
  <div class="welcome-info">
    <h1>I'm Rory, I create things.</h1>
  </div>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668613636/Lovepik_com-401445556-white-stars_k5gaa7.png" alt="" id="galaxy-pic">
  <div class="social-banner">
    <a href="" id="view-projects-btn">View projects</a>
    <div class="social-banner-icons">
      <a href="https://github.com/roryjjackson" target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto: roryjamesjackson@outlook.com"><i class="fa-regular fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/roryjjackson/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <p id="welcome-comment">Hi there!👋🏼 Welcome to a digital display of me and my work, go on, have an explore... </p>
  <div class="projects-container">
    <div class="card-project">
      <p class="project-tech-stack">Rails | Javascript | Html:5 | CSS</p>
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015814/DSC02500_wn01f3.jpg" alt="">
      <div class="card-project-info">
        <h4>Zoe and Cameron's Wedding</h4>
        <p>Simple functional app</p>
        <a href="http://www.zoeandcam2023.com/" target="_blank" class="tag"><h5 class="visit-btn">Visit the site</h5></a>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <div class="card-project">
      <p class="project-tech-stack">Rails | Javascript | Html:5 | CSS</p>
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662388366/cld-sample-4.jpg" alt="">
      <div class="card-project-info">
        <h4>Blog template app</h4>
        <p>Self-learning project</p>
        <a href="https://railsblogappproject.herokuapp.com/" target="_blank" class="tag"><h5 class="visit-btn">Visit the site</h5></a>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <div class="card-project">
      <p class="project-tech-stack">Rails | Javascript | Html:5 | CSS</p>
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668694384/pexels-thisisengineering-3913025_dac4bo.jpg" alt="">
      <div class="card-project-info">
        <h4>Rory James Jackson</h4>
        <p>Personal portfolio</p>
        <a href="https://github.com/roryjjackson/personalportfolio" target="_blank" class="tag"><h5 class="visit-btn">View the source code</h5></a>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <div class="card-project">
      <p class="project-tech-stack">Rails | Javascript | Html:5 | CSS</p>
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668693723/292931876_319267783658628_550520057057156683_n_ivme2a.jpg" alt="">
      <div class="card-project-info">
        <h4>Mochi Pops</h4>
        <p>E-commerce site currently in construction</p>
        <%# <a href="" target="_blank" class="tag"><h5 class="visit-btn">Visit the site</h5></a> %>
      </div>
    </div>
  </div>
  <div class="stack-container">
    <h3 id="stack-title">What I use currently...</h3>
    <ul class="stack-list">
      <li class="stack-list-item">Ruby <i class="fa-regular fa-gem"></i></li>
      <li class="stack-list-item">Rails <i class="fa-light fa-train-track"></i></li>
      <li class="stack-list-item">Javascript <i class="fa-brands fa-js"></i></li>
      <li class="stack-list-item">HTML:5 <i class="fa-brands fa-html5"></i></li>
      <li class="stack-list-item">CSS <i class="fa-brands fa-css3-alt"></i></li>
      <li class="stack-list-item">SQL <i class="fa-solid fa-database"></i></i></li>
      <li class="stack-list-item">Heroku</li>
    </ul>
  </div>
  <h2 id="intro-title">Let me introduce myself</h2>
  <div class="personal-info-container">
    <p id="personal-info">So I'm Rory, a freelance web designer and software developer. I work alongside startups to help them create an impressionable online identity, backed up by a functional, usable site that showcases the best of their business.</p>
    <div class="personal-introduction">
      <div class="profile-text-vertical">
        <p>London | August | 2022</p>
      </div>
      <div class="profile-block">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666282722/IMG_7518_xuj7po.jpg" alt="" id="profile-pic">
        <p>Me in my front room 😁 </p>
      </div>
    </div>
  </div>
  <div class="contact-me">
    <h3 id="contact-title">Don't be shy, get in touch</h3>
    <p>Based in London, UK, you can either give me a 📞 on +447501044560, or <a href="mailto: roryjamesjackson@outlook.com" class="tag" target="_blank">email</a> | roryjamesjackson@outlook.com</p>
  </div>
</div>
  <%# <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668613262/Lovepik_com-400257319-a-bike-riding-boy_jktee0.png" alt=""> %>
<a id="floor"></a>
