<a id="roof"></a>
<div class="page-content">
  <div class="welcome-info">
    <h1>I'm Rory, a software developer based in London.</h1>
    <%# <h2>I'm looking to become part of a team working on larger, more challenging projects.</h2> %>
  </div>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668613636/Lovepik_com-401445556-white-stars_k5gaa7.png" alt="" id="galaxy-pic">
  <div class="social-banner">
    <a href="#projects" id="view-projects-btn">View projects</a>
    <div class="social-banner-icons">
      <a href="https://github.com/roryjjackson" target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto: roryjamesjackson@hotmail.com"><i class="fa-regular fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/roryjjackson/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <h2 id="intro-title">Let me introduce myself</h2>
  <div class="personal-info-container">
    <div class="personal-introduction">
      <div class="profile-text-vertical">
        <p>London | August | 2022</p>
      </div>
      <div class="profile-block">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666282722/IMG_7518_xuj7po.jpg" alt="" id="profile-pic">
        <p>Me in my front room, London</p>
      </div>
    </div>
    <p id="personal-info">So I've been working freelance for the past 6 months since my training at a coding bootcamp in London. I work with React and Ruby on Rails to develop full stack applications. I am however, now looking to become a part of a bigger team thats working on a larger scale project.</p>
  </div>
  <p id="welcome-comment">Take a look at some of my projects below ...</p>
  <div class="projects-container" id="project">
    <div class="card-project">
      <div class="card-project-img">
        <p class="project-tech-stack">React | Javascript | Html:5 | CSS</p>
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015814/DSC02500_wn01f3.jpg" alt="">
      </div>
    <a id="projects"></a>
      <div class="card-project-info">
        <h4>ZoeandCam2023</h4>
        <p>Wedding app</p>
        <a href="https://zoeandcam2023react.netlify.app/" target="_blank" class="tag"><h5 class="visit-btn">Visit the site</h5></a>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <div class="card-project">
      <div class="card-project-img">
        <p class="project-tech-stack">React, Javascript, HTML, css</p>
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1677667011/pexels-cottonbro-studio-7480243_wq6ndj.jpg" alt="">
      </div>
    <a id="projects"></a>
      <div class="card-project-info">
        <h4>Adventure Yurts</h4>
        <p>A dynamic react site</p>
        <a href="https://adventureyurts.com/" target="_blank" class="tag"><h5 class="visit-btn">Visit the site</h5></a>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <div class="card-project">
      <div class="card-project-img">
        <p class="project-tech-stack">Rails | Javascript | Html:5 | CSS</p>
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1669281725/pexels-kelly-13766418_etqld7.jpg" alt="">
      </div>
      <div class="card-project-info">
        <h4>Oot the box</h4>
        <p>A blog app with user access to create,  edit and comment on posts uploaded to the app.</p>
        <a href="https://basicblogtemplate.herokuapp.com/" target="_blank" class="tag"><h5 class="visit-btn">Visit the site</h5></a>
      </div>
    </div>
  </div>
  <div class="projects-container">
    <div class="card-project">
      <div class="card-project-img">
        <p class="project-tech-stack">Rails | Javascript | Html:5 | CSS</p>
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668694384/pexels-thisisengineering-3913025_dac4bo.jpg" alt="">
      </div>
      <div class="card-project-info">
        <h4>Rory James Jackson</h4>
        <p>Personal portfolio</p>
        <a href="https://github.com/roryjjackson/personalportfolio" target="_blank" class="tag"><h5 class="visit-btn">View the source code</h5></a>
      </div>
    </div>
  </div>

  <div class="stack-container">
    <h3 id="stack-title">What I use currently...</h3>
    <ul class="stack-list">
      <li class="stack-list-item">React</li>
      <li class="stack-list-item">Ruby <i class="fa-regular fa-gem"></i></li>
      <li class="stack-list-item">Ruby on Rails <i class="fa-light fa-train-track"></i></li>
      <li class="stack-list-item">Javascript <i class="fa-brands fa-js"></i></li>
      <li class="stack-list-item">HTML:5 <i class="fa-brands fa-html5"></i></li>
      <li class="stack-list-item">CSS <i class="fa-brands fa-css3-alt"></i></li>
      <li class="stack-list-item">SQL <i class="fa-solid fa-database"></i></i></li>
      <li class="stack-list-item">Heroku</li>
    </ul>
  </div>
  <div class="contact-me">
    <h3 id="contact-title">Don't be shy, get in touch</h3>
    <p>Based in London, UK, you can either give me a 📞 on +447501044560</p>
    <p>Or <a href="mailto: roryjamesjackson@outlook.com" class="tag" target="_blank">email</a> | roryjamesjackson@hotmail.com</p>
    <div id="cv-btn">
      <a href="https://res.cloudinary.com/dfipoufmj/image/upload/v1679416593/CV_2023_1_zshknz.pdf" class="tag" target="_blank">View my CV</a>
    </div>
  </div>
</div>
<a id="floor"></a>
