.navbar {
  width: 250px;
  position: sticky;
  top: 30px;
}

.navbar-list-item {
  list-style: none;
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin: 0;
  padding: 0;
}
