.projects-container {
  display: flex;
  justify-content: center;
}
.card-project-img {
  display: flex;
}

.card-project {
  overflow: hidden;
  width: 800px;
  display: flex;
  align-items: center;
  margin: 115px auto;
  border: solid rgba(255, 255, 255, 0.225) 1px;
  border-radius: 56px;
  background-color: $dark-blue;
  padding: 20px;
  transition: transform .5s ease-in-out;
}
.card-project:hover {
  transform: scale(1.05);
}

.project-tech-stack {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  text-align: center;
  // margin: 0 0 0 20px;
  font-size: 16px;
}

.card-project img {
  margin: 0 0 0 20px;
  height: 440px;
  width: 300px;
  object-fit: cover;
  border-radius: 10%;
}

.card-project-info h4 {
  // margin-top: 125px;
  font-size: 34px;
  font-weight: bold;
  background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-project-info p {
  margin-top: 20px;
  opacity: .7;
  // line-height: 5;
  font-size: 16px;
}

.card-project-info h5 {
  font-size: 16px;
  margin-top: 40px;
}

.card-project-info {
  padding: 20px;
  // height: 440px;
  margin-left: 20px;
}

.visit-btn {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

.tag {
  text-decoration: none;
}

@media only screen and (min-width: 661px) and (max-width: 900px) {
  .project-tech-stack {
    display: none;
  }

  .card-project-info {
    margin-left: 0;
    text-align: center;
  }
  .card-project-info h4 {
    font-size: 24px;
  }

  .card-project-info p {
    font-size: 14px;
  }

  h5.visit-btn {
    font-size: 14px;
  }

  .card-project {
    margin: 50px 0;
    display: block;
    width: 300px;
  }

  .card-project-img {
  display: flex;
  justify-content: center;
  }

  .card-project-img img {
    margin: 0;
    height: 200px;
    width: 160px;
  }

  .stack-container {
    margin: 50px;
  }

  #intro-title {
    font-size: 35px;
    margin: 50px;
  }
  .profile-block {
    display: flex;
    justify-content: center;
  }
  #profile-pic {
    height: 250px;
    width: 250px;
    display: flex;
    margin: auto;
  }
  .profile-text-vertical {
    display: none;
  }

  #personal-info {
    font-size: 14px;
    margin: 50px;
  }

  .contact-me {
    margin: 0 50px 50px 50px;
  }
  .contact-me p {
    font-size: 14px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 660px) {
  .project-tech-stack {
    display: none;
  }

  .card-project-info {
    margin-left: 0;
    text-align: center;
  }
  .card-project-info h4 {
    font-size: 24px;
  }

  .card-project-info p {
    font-size: 14px;
  }

  h5.visit-btn {
    font-size: 14px;
  }

  .card-project {
    margin: 50px 0;
    display: block;
    width: 280px;
  }

  .card-project-img {
  display: flex;
  justify-content: center;
  }

  .card-project-img img {
    margin: 0;
    height: 200px;
    width: 160px;
  }


}
