.projects-container {
  margin: 30px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-project {
  overflow: hidden;
  width: 900px;
  display: flex;
  align-items: center;
  margin: 40px;
  border: solid rgba(255, 255, 255, 0.058) 1px;
  border-radius: 56px;
  background-color: $dark-blue;
  padding: 20px;
}

.project-tech-stack {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  text-align: center;
  // margin: 0 0 0 20px;
  font-size: 10px;
}

.card-project img {
  margin: 0 0 0 20px;
  height: 440px;
  width: 300px;
  object-fit: cover;
  border-radius: 10%;
}

.card-project-info h4 {
  margin-top: 125px;
  font-size: 30px;
  font-weight: bold;
}

.card-project-info p {
  margin-top: 20px;
  opacity: .7;
  // line-height: 5;
}

.card-project-info h5 {
  font-size: 12px;
  margin-top: 40px;
}

.card-project-info {
  padding: 20px;
  height: 440px;
  margin-left: 20px;
}
